.post-container {
  max-width: 614px;
  margin: auto;

  .post {
    border: 1px solid lightgray;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #000000;
  }
  .post-header {
    padding: 0 16px;

    span {
      margin-left: 10px;
    }
  }

  .action-bar {
    div {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  .comment-section {
    padding: 0 16px;
  }

  form {
    display: flex;
    flex-grow: 1;
  }
}